<div class="content-catalog">
  <div class="options">
      <div class="btnCatalog">
          <button [routerLink]="['/consult-catalog']">Consultar Calçados</button>
      </div>
      <div class="btnCatalog">
          <button [routerLink]="['/insert-catalog']">Inserir Calçados</button>
      </div>
      <div class="btnCatalog">
          <button [routerLink]="['/delete-catalog']">Excluir Calçados</button>
      </div>
  </div>
</div>

<div class="content-catalog"><h3>Excluir Calçados</h3></div>
